* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: inherit; */
    color: inherit;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}
details[open] summary {
    background-color: orange;
    color: white;
}
details[open] summary:hover,
details:not([open]) summary:hover {
    background-color: rgb(218, 153, 35);
}
summary {
    cursor: pointer;
}
.searchbar {
    margin-top: 30px;
}
.searchbox {
    padding: 0.6em 1em;
    border-radius: 8px;
    font-size: 2rem;
}
.results {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40;
    width: 40vw;
    align-items: center;
}
.book {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}
.header {
    display: flex;
    padding: 0.6em 1em;
    flex-direction: column;
}
.instances {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 30px;
    max-height: 30vw;
    overflow: auto;
}
.instance {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    min-width: 300px;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
    border: orange 2px solid;
}
.quote {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: auto;
}
/* .page{

} */
/* .line {
    margin: auto;
} */
.position {
    margin-left: auto;
}
.hidden {
    height: 0;
}
.error{
    color: rgb(248, 191, 191);
    margin: 10px 0;
}
.resultInfo{
    color: rgb(179, 248, 179);
    margin: 10px 0;
}
.disappear{
    display: none;
}
